.footer {
  display: flex;
  align-items: center;
  position: relative;
  margin: -1rem -4.5rem -0.5rem;
  height:8rem;
}

.blue-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11rem;
  background-color: #1949b8;
}


.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
  color: white;
}

.f-icons {
  display: flex;
  gap: 2rem;
}

.go-to-top-button {
  border: none;
  background-color: #1949b8; /* Change to your desired color */
  color: white;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  bottom: 1rem;
  right: 1rem; /* Adjust this value for positioning */
}

.go-to-top-button:hover {
  background-color: #082148; /* Change to a slightly darker shade for hover effect */
}
@media screen and (max-width: 480px) {
  .f-content {
    transform: scale(0.5);
  }
  .blue-bar {
    height: 6rem;
  }
  .footer {
    height:5rem;
  }
}


@media screen and (max-width: 480px) {
  /* ... Existing responsive styles ... */
}
